<h1>Palio</h1>
<ul class="list-group">
  <li class="list-group-item">codigo</li>
  <li class="list-group-item">modelo</li>
  <li class="list-group-item">preço</li>
  <li class="list-group-item">Ano</li>
</ul>
<h1>uno</h1>
<li class="list-group-item">codigo</li>
<li class="list-group-item">modelo</li>
<li class="list-group-item">preço</li>
<li class="list-group-item">Ano</li>
<h1>S-10</h1>
<li class="list-group-item">codigo</li>
<li class="list-group-item">modelo</li>
<li class="list-group-item">preço</li>
<li class="list-group-item">Ano</li>