<h1>Palio</h1>
<ul class="list-group">
  <li class="list-group-item">codigo 001</li>
  <li class="list-group-item">modelo fiat</li>
  <li class="list-group-item">preço 10,000</li>
  <li class="list-group-item">Ano 2007</li>
</ul>
<h1>Uno</h1>
<li class="list-group-item">codigo 002</li>
<li class="list-group-item">modelo fiat</li>
<li class="list-group-item">preço 5,000</li>
<li class="list-group-item">Ano 2003</li>
<h1>S-10</h1>
<li class="list-group-item">codigo 003</li>
<li class="list-group-item">modelo chevrolet</li>
<li class="list-group-item">preço 50,000</li>
<li class="list-group-item">Ano  2008</li>